@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/room.png");
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VT323", monospace;
}

header {
  background-image: url("./assets/bluevelvet.jpeg");
  color: rgb(3, 1, 93);
  transition: all 0.7s ease-out;
}

header:hover {
  letter-spacing: 5px;
  color: rgb(252, 241, 241);
}

header h1 {
  font-size: 40px;
  margin: 0 0 50px;
  padding: 25px;
  text-align: center;
}

button {
  width: 100px;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 2px;
  border: 2px solid rgb(15, 4, 75);
  background-color: rgb(8, 7, 110);
  color: whitesmoke;
  letter-spacing: 2px;
  transition: all 0.7s ease-out;
}

button:hover {
  background-color: rgb(108, 4, 4);
  border: 2px solid rgb(160, 0, 0);
  color: rgb(226, 208, 147);
  letter-spacing: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr auto auto 2fr;
  padding-top: 10px;
}

#canvas {
  border: 3px solid #393e41;
  display: grid;
  grid-template-columns: repeat(40, 12.5px);
  grid-template-rows: repeat(40, 12.5px);
  height: 500px;
  margin: 0 auto;
  width: 500px;
  background-size: cover;
  background-color: whitesmoke;
}

.cell {
  border: 1px solid #626769;
  box-sizing: border-box;
  /* display: inline-block; */
  margin: 0;
  height: 12.5px;
  width: 12.5px;
  background-size: cover;
  background-position: center;
}

#current-color {
  border: 2px solid #393e41;
  display: block;
  height: 50px;
  margin: 25px auto;
  width: 50px;
  background-size: cover;
  background-position: center;
}

#palette {
  height: 50px;
  margin: 25px auto;
  text-align: center;
  width: 80%;
}

#palette .color {
  border: 2px solid #393e41;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  height: 50px;
  width: 50px;
}
